html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #1a1c20;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left,
.right {
  position: absolute;
  height: 100%;
  width: 50%;
}

.left {
  background: #fff;
}

.right {
  z-index: -3;
  left: 50%;
  background: #000000; /* fallback for old browsers */
  background: -webkit-radial-gradient(
    circle at left,
    #1a1c20,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    circle at left,
    #1a1c20,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
  position: fixed;
  width: 100%;
  height: 46px;
}

.logo {
  background: no-repeat
    url("https://www1.djicdn.com/dps/303ebb0010bed26e989b7d9966eb0c0b.svg");
  vertical-align: middle;
  width: 45px;
  height: 26px;
  background-size: cover;
  top: 40px;
  left: 80px;
  position: relative;
}

.next {
  padding: 0 10px;
  font-size: 1.2em;
}

.right-sidebar {
  right: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.right-sidebar ul {
  list-style: none;
}

.right-sidebar ul li:not(:last-child) {
  padding-bottom: 12px;
}

.product img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -2;
}

@keyframes fly {
  from {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-49%, -49%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.left-bottom {
  position: absolute;
  bottom: 40px;
  left: 80px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

.left-sidebar {
  position: absolute;
  left: 80px;
  top: 35%;
  transform: translateY(-50%);
  width: 24%;
}

.left-sidebar .product-title {
  font-size: 2.7em;
}

.left-sidebar button {
  border: none;
  outline: none;
  padding: 19px 45px;
  background: #1a1c20;
  color: #fff;
  margin: 1em 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 4px;
}

.left-sidebar button ion-icon {
  margin-bottom: -3px;
}

.media {
  position: absolute;
  bottom: 40px;
  right: 80px;
  color: #fff;
}

.media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.media ul li {
  display: inline-block;
}

.media ul li:not(:last-child) {
  padding-right: 40px;
}
